<article class="git">
    <section class="git__intro">
        <h2 class="git__intro__title">Гит-репозитории</h2>
        <p class="git__intro__text">Здесь мои репозитории с проектами на github.com.</p>
    </section>

    <section class="git__main">
        <ul class="git__main__list">
            <!--Это невидимый пункт-шаблон-->
            <li class="invis git__main__item_template">
                <a class="git__main__item__innerWrap" href="" target="blank"> 
                    <p class="git__main__item__title">svg-sprite-localStorage</p>
                    <p class="git__main__item__text">
                        <span class="git__main__item__text-element__marker">
                        </span>
                        <span class="git__main__item__text-element git__main__item__text-element__progLang">
                            JavaScript
                        </span>

                        <span class="git__main__item__text-element">
                            <span class="git__main__item__text-element__star">
                            </span>
                            
                        </span>
                        <span class="git__main__item__text-element">
                            <span class="git__main__item__text-element__fork">
                            </span>
                            
                        </span>
                        <span class="git__main__item__text-element git__main__item__text-element__update">
                            Обновлено 16 июня 2016
                        </span>
                    </p>
                </a>
            </li>
        </ul>
        <nav class="git__main__paginator">
            <span class="paginator__item invis"></span>
        </nav>
    </section>
    {{> preloaders/preloader_git}}
</article>