<article class="git achievement">
    <section class="git__intro achievement__intro">
        <h2 class="achievement__intro-title">Гит-репозитории</h2>
        <p class="achievement__intro-text">Здесь мои репозитории с проектами на github.com.</p>
    </section>

    <section class="achievement__main">
        <ul class="achievement__list">
            <!--Это невидимый пункт-шаблон-->
            <li class="invis git__template">
                <a class="git__item-innerWrap" href="" target="blank"> 
                    <p class="git__item-title">svg-sprite-localStorage</p>
                    <p class="git__item-text">
                        <span class="marker">
                        </span>
                        <span class="text-element text-element_progLang">
                            JavaScript
                        </span>

                        <span class="text-element">
                            <span class="text-element_star">
                            </span>
                            
                        </span>
                        <span class="text-element">
                            <span class="text-element_fork">
                            </span>
                            
                        </span>
                        <span class="text-element text-element_update">
                            Обновлено 16 июня 2016
                        </span>
                    </p>
                </a>
            </li>
        </ul>
        <nav class="paginator">
            <span class="paginator__item invis"></span>
        </nav>
    </section>
    {{> preloaders/preloader_git}}
</article>