<menu class="social">
    <a href = "https://github.com/stasokulov" target="blank">
        <li class="social__git social__item"></li>
    </a>
    <a href = "https://www.linkedin.com/in/stanislav-okulov-613ab410a/" target = blank>
        <li class="social__in social__item"></li>
    </a>
</menu>